<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="es" xmlns:og="http://ogp.me/ns#">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="robots" content="noindex,nofollow">
		{% if detalle.PanelCentral.Titulo is defined  %}
            <title>{{ detalle.PanelCentral.Titulo }} - Aragón Open Data Pool</title>
		{% elseif fromTitle is defined %}
			<title>{{ fromTitle }} - Aragón Open Data Pool</title>
		{% elseif navegacion.Tema|length > 0  %}  
			{% for key,value in navegacion.Tema %}
                <title>{{ value }} - Aragón Open Data Pool</title>
			{% endfor %}			
        {% elseif navegacion.Entidad|length > 0  %} 
            {% for key,value in navegacion.Entidad %}
                <title>{{ value }} - Aragón Open Data Pool</title>
            {% endfor %}
		{% else %}
			<title>Aragón Open Data Pool</title>
        {% endif %}
		
		<link href="{{ asset('img/favicon.ico') }}" rel="icon" type="image/x-icon">
		{% block stylesheets %}{% endblock stylesheets%}	
		{% block javascripts %}{% endblock javascripts%}
	</head>
  {% block content %}{% block extra_javascript %}{% endblock extra_javascript %}{% endblock content%}
</html>