{% extends 'base.html.twig' %}
{% block stylesheets %}
    <!-- PERSONALIACION COMUNIDAD -->
    <!-- CARRUSEL -->
    <link href="{{ asset('css/owl.carousel.css') }}"  rel="stylesheet" type="text/css">
    <!-- FUENTES -->
    <link href="{{ asset('css/fonts.googleapis.com.css') }}"  rel="stylesheet">
    <link href="{{ asset('css/fonts.googleapis.ico.com.css') }}"  type="text/css" rel="stylesheet"  media="all">

    <!-- TETHER -->
    <link href="{{ asset('css/tether.min.css') }}"  rel="stylesheet" type="text/css">
    <!-- BOOTSTRAP 4 -->
    <link href="{{ asset('css/bootstrap.min.css') }}"  rel="stylesheet" type="text/css">
    <!-- DATATABLES -->
    <link href="{{ asset('css/datatables.min.css') }}"  rel="stylesheet" type="text/css">
    <!-- PERSONALIZACION TEMA -->
    <link href="{{ asset('css/theme.css') }}"  rel="stylesheet" type="text/css">
	<link href="{{ asset('css/theme1.css') }}"  rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
	
	<!-- FONT AWESOME -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	
    {% block extra_css %} {% endblock extra_css%}
{% endblock stylesheets %}
{% block javascripts %}
    <!-- JQUERY -->
    <script type="text/javascript" src="{{ asset('js/jquery-3.2.1.min.js') }}" ></script> 
    <!-- DOTDOTDOT -->
    <script type="text/javascript" src="{{ asset('js/jquery.dotdotdot.min.js') }}" ></script> 
    <!-- CARRUSEL  -->
     <script type="text/javascript" src="{{ asset('js/owl.carousel.min.js') }}" ></script>
    <!-- TETHER -->
    <script type="text/javascript" src="{{ asset('js/tether.min.js') }}" ></script>
    <!-- BOOTSTRAP 4 -->
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
    <!-- DATATABLES -->
    <script type="text/javascript" src="{{ asset('js/datatables.min.js') }}" ></script>
    <!-- PERSONALIZACION TEMA -->
    <script type="text/javascript" src="{{ asset('js/theme.js') }}" ></script>
	<!-- WAYPOINT -->
    <script type="text/javascript" src="{{ asset('js/jquery.waypoints.min.js') }}" ></script>
	
{% endblock %}
{% block content %}
    <body class="{{ classBody }}" cz-shortcut-listen="true"> 
	<!-- Google Analytics -->
	<script type='text/javascript'>
		(function (i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date(); a = s.createElement(o),
				m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
		})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-36118896-2', 'auto');
	</script>
	<!-- End Google Analytics -->
{% block header %}
  <header>
	<div class="container-fluid">
		<div class="row row-principal">
			<div class="col col-4 col-sm-6">
				<img src="img/logo-gobierno.png" alt="Logo gobierno de Aragón" title="Logo gobierno de Aragón">
				<img src="img/logo-europa.png" alt="Logo Fondo Europeo de Desarrollo Regional" title="Logo Fondo Europeo de Desarrollo Regional">
			</div>
			<div class="col col-8 col-sm-6">
				<ul>
					<li><a href="/" class="col-3 active">Open data</a></li>
					<li><a href="http://aragonparticipa.aragon.es" target="_blank" class="col-6">Participación ciudadana</a></li>
					<li><a href="http://transparencia.aragon.es/" target="_blank" class="col-3">Transparencia</a></li>
				</ul>
			</div>
		</div>
		<div class="row row-secundaria">
			<a href="/" class="logo">
				<img src="img/aragon-open-data.png" alt="Aragón Open Data" title="Aragón Open Data" class="azul">
				<img src="img/aragon-open-data-blanco.png" alt="Aragón Open Data" class="blanco">
			</a>
			<div class="menu">
				<a class="aMenu" title="Menu principal"></a>
			</div>
		</div>
		<div class="row-menu-secundario">
			<ul>
				<li>
					<a href="#" title="Datos">Datos</a>
					<ul>
                        <li><a href="/datos/catalogo">Banco de datos</a></li>
                        <li><a href="/datos/temas">Temas</a></li>
                        <li><a href="/datos/publicadores">Publicadores</a></li>
					</ul>
				</li>
				<li>
					<a href="#" title="Servicios">Servicios</a>
					<ul>
						<li><a href="/pool">Datos enlazados</a></li>
                        <li><a href="/servicios/aragopedia">Aragopedia</a></li>
                        <li><a href="http://presupuesto.aragon.es/">Presupuestos</a></li>
                        <li><a href="/servicios/analytics">Open Analytics Data</a></li>
                        <li><a href="/servicios/open-social-data">Open Social Data</a></li>
                        <li><a href="/servicios/focus">Open Data Focus</a></li>
                        <li><a href="/servicios/cras">CRAs Aragón</a></li>
					</ul>
				</li>
				<li>
					<a href="#" title="Información">Información</a>
					<ul>
                        <li><a href="/informacion/open-data">Información</a></li>
						<li><a href="/informacion/conocimiento">Conocimiento</a></li>
                        <li><a href="/informacion/aplicaciones">Aplicaciones</a></li>
                        <li><a href="/informacion/eventos">Eventos</a></li>
                        <li><a href="/informacion/colabora">Colabora</a></li>
					</ul>
				</li>
				<li>
					<a href="#" title="">Herramientas</a>
					<ul>
                        <li><a href="/herramientas/campus">AOD Campus</a></li>
                        <li><a href="/herramientas/desarrolladores">Desarrolladores</a></li>
                        <li><a href="/herramientas/apis">APIs</a></li>
                        <li><a href="/herramientas/sparql">SPARQL</a></li>
                        <li><a href="https://github.com/aragonopendata/Aragon-Open-Data-3" target="_blank" onclick="openNav()">GITHUB</a></li>
					</ul>
				</li>
			</ul>
			<div class="buscador">
				<div class="wrap">
                    <form class="search" method="post" onsubmit="return buscaCkan()">
                            <input autocomplete="off" id="buscador_header" class="textBox" placeholder="BUSCA DATOS ABIERTOS" onkeyup="autocompleteRequest()" type="search">
                            <a href="#" class="lupa"><span class="material-icons">search</span></a>
                            <!--<button type="submit" class="submit"><i aria-hidden="true" class="fa fa-search"></i></button>-->
                            <!--<button type="submit" class="btnSearch">
                                    <i aria-hidden="true" class="fa fa-search" style="display: table; vertical-align: middle;"></i>
                            </button> -->
                            <!--<input autocomplete="off" #searchBox id="searchBox" placeholder="BUSCA DATOS ABIERTOS" type="search" class="textBox" (keyup)="search(searchBox.value)"
                                (keyup.enter)="searchDatasetsByText(searchBox.value); openNav();" />-->
                            <div id="resultsList">
                                <div class="search-result">
                                    <a id="searchResult1"></a>
                                </div>
                                <div class="search-result">
                                    <a id="searchResult2"></a>
                                </div>
                                <div class="search-result">
                                    <a id="searchResult3"></a>
                                </div>
                                <div class="search-result">
                                    <a id="searchResult4"></a>
                                </div>
                            </div>
                    </form>				
                </div>
			</div>
		</div>
	</div>
 </header>
    <div class="panel-menu">
            <div class="row header-panel">
                <div class="col col-toggle-menu">
                    <span class="material-icons">close</span>
                </div>
                <div class="col logo">
                    <img src="img/logo-gobierno.png" alt="">
                </div>
            </div>
            <div class="body-panel">
                <ul>
				
                    <li><a href="https://opendata.aragon.es/">Open data</a></li>
                    <li><a href="http://aragonparticipa.aragon.es/">Participación ciudadana</a></li>
                    <li><a href="http://transparencia.aragon.es/">Transparencia</a></li>
                </ul>
            </div>
    </div>
    {% endblock header%}  
    {% block main%} 
    {% endblock main%}   
    {% block footer %}
        <footer>
            <div class="container-fluid">
                <div class="row row01">
                    <div class="col col-aviso">
                        <p class="titulo">Aviso legal</p>
                        <ul>
                            <li><a href="#">Terminos de uso</a></li>
                        </ul>
                        <div class="union-europea">
                            <div class="imagen">
                                <img src="img/flag-europe.png" alt="Union Europea">
                            </div>
                            <div class="texto">
                                <p>Union Europea</p>
                                <p>Fondo europeo de desarrollo regional</p>
                                <p>(feder)</p>
                                <p class="minus">"Construyendo Europa desde Aragón"</p>
                            </div>
                        </div>
						<div class="licencia">
							<div class="imagen-licencia">
								<img alt="logo-licencia-cc" src="img/cc.png">
							</div>
							<div class="texto-licencia">
								<p>Los contenidos del portal están sujetos a la licencia creative commons reconocimiento 4.0 salvo que se indique lo contrario</p>
							</div>
						</div>
                    </div>
                    <div class="col col-menu">
                        <p class="titulo">Contenido destacado</p>
                        <ul>
                            <li><a href="https://opendata.aragon.es/datos/catalogo">Banco de datos</a></li>
							<li><a href="https://opendata.aragon.es/pool">Datos enlazados</a></li>
                            <li><a href="https://opendata.aragon.es/servicios/aragopedia">Aragopedia</a></li>
                            <li><a href="https://opendata.aragon.es/servicios/open-social-data">Open social data</a></li>
                            <li><a href="https://opendata.aragon.es/informacion/colabora">colabora</a></li>
                            <li><a href="https://opendata.aragon.es/informacion/aplicaciones">Aplicaciones</a></li>
                            <li><a href="https://opendata.aragon.es/informacion/open-data">Info open data</a></li>
							<li><a href="https://opendata.aragon.es/informacion/conocimiento">Conocimiento</a></li>
                        </ul>
                    </div>
                    <div class="col col-powered">
                       <p class="titulo">Powered By</p>
                        <div class="logos">
                            <div class="logo">
                                 	<a alt="ckan" href="http://ckan.org/" target="_blank"><img alt="logo-ckan" src="img/cajaLogoCKAN.jpg"></a>
                            </div>
                            <div class="logo">
                                  <a alt="mediawiki" href="http://www.mediawiki.org/" target="_blank"><img alt="logo-media-wiki" src="img/cajaLogoMediaWiki.jpg"></a>
                            </div>
                            <div class="logo">
                                <a alt="virtuoso" href="http://virtuoso.openlinksw.com/" target="_blank"><img alt="logo-virtuoso" src="img/cajaLogoVirtuoso.jpg"></a>
                            </div>
                            <div class="logo">
                                 <a alt="elda" href="http://epimorphics.github.io/elda/" target="_blank"><img alt="logo-elda" src="img/cajaLogoElda.jpg"></a>
                            </div>
                            <div class="logo">
                               <a alt="swagger" href="http://swagger.io/" target="_blank"><img alt="logo-swagger" src="img/cajaLogoSwagger.jpg"></a>
                            </div>
                            <div class="logo">
                                <a alt="node" href="https://nodejs.org/es/" target="_blank"><img alt="logo-nodejs" src="img/cajaLogoNodeJS.jpg"></a>
                            </div>
                            <div class="logo">
                                <a alt="angular" href="https://angular.io/" target="_blank"><img alt="logo-angular" src="img/cajaLogoAngular.jpg"></a>
                            </div>
                            <div class="logo">
                                <a alt="kibana" href="https://www.elastic.co/products/kibana/" target="_blank"><img alt="kibana" src="img/cajaLogoKibana.jpg"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row02">
                    <div class="col col-aragon">
                        <div class="wrap-imagen">
                            <img src="img/logo-aragon.png" alt="Gobierno de aragón" title="Gobierno de aragón">
                        </div>
                    </div>
					
					<div class="col redes-sociales">
						<div class="social mail">
							<a href="mailto:opendata@aragon.es">
								<i class="far fa-envelope">
									<span>AOD</span>
								</i>
							</a>
						</div>
						<div class="social youtube">
							<a href="https://www.youtube.com/watch?v=8d409yteTJM&amp;list=PLQ3k0vA0UZvhBVOz_mCq-9Wyn3VCB6QCe">
								<i class="fab fa-youtube"></i>
							</a>
						</div>
						<div class="social twitter">
							<a href="https://www.twitter.com/oasi">
								<i class="fab fa-twitter"></i>
							</a>	
						</div>
						<div class="social facebook">
							<a href="https://www.facebook.com/observatorio.aragones">
								<i class="fab fa-facebook"></i>
							</a>
						</div>
					</div>
					
                </div>
                <div class="row row03">
                    <div class="gobText">
						<p> Gobierno de Aragón - Edificio Pignatelli - Paseo María Agustín, 36, 50071 - Zaragoza - Tel 976714000 </p>
                    </div>
                </div>
            </div>
        </footer>
    {% endblock footer%}
     <div class="mascaritaGenerica"></div>  
    {% block extra_javascript %}{% endblock extra_javascript %}
    </body>   
{% endblock content%}

