{% extends 'base.web.html.twig' %}
{% import 'default/utilidades.html.twig' as utilidades %}

{% block extra_css %}
{% endblock extra_css %}

{% block main %}
    <div class="container" role="main">
        <div class="breadcrumb enlinea">
            <div class="wrap">
                <ul>
					<li class="seccion"><a href="/pool">INICIO</a></li>
					<li class="flecha"><span class="material-icons">keyboard_arrow_right</span></li>
                    <li class="seccion"><a href="{{path('temas')}}?from=Temas">Temas</a></li>
                    <li class="flecha"><span class="material-icons">keyboard_arrow_right</span></li>
                    <li class="titulo">Seleccione un tema</li>
                </ul>
            </div>
        </div>

      
        {% if navegacion.Provincia|length == 0 and navegacion.Comarca|length == 0 and  navegacion.Municipio|length == 0 %}
            {{ utilidades.navegaoculto("path", "path", path('lugares')) }}
        {% else %}   
            {{ utilidades.navegaoculto("path", "path", path('entidades')) }}
        {% endif %}
        {{ utilidades.campooculto("pro", "pro", navegacion.Provincia) }}
        {{ utilidades.campooculto("com", "com", navegacion.Comarca) }}
        {{ utilidades.campooculto("mun", "mun", navegacion.Municipio) }}
        {{ utilidades.campooculto("ent", "ent", navegacion.Entidad) }}
        {{ utilidades.campooculto("sent", "sent", navegacion.SubEntidad) }}
        <div class="row row-bloques-min"> 
            {% for tema in temas %}
                {{ utilidades.pintatema(tema.Topic.code, tema.Topic.slug,tema.Topic.nameES, tema.SubTopicsTexto) }}
            {% endfor %}    
        </div>
    </div>
{% endblock main %}

{% block extra_javascript %}
   <script type="text/javascript" src="{{ asset('js/aodpool.navegacion.js') }}" ></script>
{% endblock extra_javascript %}

